*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.menu {
    background-color: rgb(58, 58, 236);
    height: 60px;
    line-height: 60px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 35px;
}
.menu ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.menu ul li a:hover{
    color:red;
}